{% extends 'layouts/default/page.html' %}

{% block content %}

<h1>Contact Us</h1>

<form action="" method="post">

    <label for="your_first_name">First Name: </label>
    <input id="your_first_name" type="text" name="your_first_name" value="{{ current__first_name }}">
    <br>
    <label for="your_last_name">Last Name: </label>
    <input id="your_last_name" type="text" name="your_last_name" value="{{ current__last_name }}">
    <br>
    <label for="your_email">Email: </label>
    <input id="your_email" type="text" name="your_email" value="{{ current_email }}">
    <br>
    <label for="your_message">Message: </label>
    <input id="your_message" type="text" name="your_message" value="{{ current_message }}">
    <br>
    <input type="submit" value="Submit">

</form>

{% endblock %}