{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Welcome' %} <b>{{ request.user.username }}</b>...<br>
        <a href="{% url 'carpool:driverform' request.user.username %}">Be a driver!</a> <br>
        <a href="{% url 'carpool:passengerform' request.user.username %}">Be a passenger!</a> <br>
        <a href="/ride">See your rides!</a>

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}

{% endblock %}
