{% extends 'layouts/default/page.html' %}

{% block content %}

    {% if request.user.is_authenticated and "/user/"|add:request.user.username == request.path %}

      <h1>User Logged In Page</h1>    
      Your username is <b>{{ request.user.username }}</b>.
      <hr>
      
    {% elif request.user.is_authenticated %}
      <p>you are logged in as <b>{{request.user.username}}</b> </p>
      <p>{{request.path}} does not exist</p>
    {% else %}

      You are a guest.
      {{request.user.username}}
      {{request.path}}

    {% endif %}

{% endblock %}