{% extends 'layouts/default/page.html' %}

{% block content %}

<div id="map-canvas"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDgkyK4kheG5dXqh1pSniauXiZJ7ahwDw"></script>
<div id="drivers" style="display: none;">
  {% for d in driver %}
  <p>{{ d }}</p>
  {% endfor %}
</div>
<div id="passengers" style="display:none;">
  {% for p in passenger %}
  <p>{{ p }}</p>
  {% endfor %}
</div>

<div id="directions_panel" style="width: 250px; height: 250px"></div>

<div id="result">

</div>

<script>
  // console.log("asdf")
  drivers = document.getElementById('drivers');
  driverList = drivers.children;
  driversObj = [];
  for (var i = 0; i < driverList.length; i++) {

    text = driverList[i].innerText;
    var myRegexp = /Driver\(user=\'(.*)\'.*mpg=([0-9]+).*capacity=([0-9]+).*destination=\'(.*)\'.*source=\'(.*)\'.*time=(.*)$/g;
    var match = myRegexp.exec(text);

    driversObj.push({
      "user": match[1],
      "mpg": match[2],
      "capacity": match[3],
      "destination": match[4],
      "source": match[5],
      "time": match[6]
    })
  }
  // console.log(driversObj)

  passengers = document.getElementById('passengers');
  passengersList = passengers.children;
  passengersObj = [];
  // console.log(passengers)
  for (var i = 0; i < passengersList.length; i++) {

    text = passengersList[i].innerText;
    // console.log(text)
    var myRegexp = /Passenger\(destination=\'(.*)\'.*source=\'(.*)\'.*time=(.*)$/g;
    var match = myRegexp.exec(text);

    passengersObj.push({
      "destination": match[1],
      "source": match[2],
      "time": match[3]
    })
  }
  // console.log(passengersObj)
  dest = "Chapel Hill,NC";
  var directionsDisplay;
  var directionsService;
  // function initMap(dest) {
    var pointA = new google.maps.LatLng(42.496403, -124.413128),
      pointB = new google.maps.LatLng(42.496401, -124.413126),
      myOptions = {
        zoom: 7,
        center: pointA
      },
      map = new google.maps.Map(document.getElementById('map-canvas'), myOptions),
      // Instantiate a directions service.
      directionsService = new google.maps.DirectionsService,
      directionsDisplay = new google.maps.DirectionsRenderer({
        map: map
      });

  // }

  min = 0;
  for (var i = 0; i < driversObj.length; i++) {
    console.log(driversObj)
    // initMap("Chapel Hill,NC");

    // calculateAndDisplayRoute("Chapel Hill,NC");
    // driversObj.attr({"miles": });
    x=calculateAndDisplayRoute(directionsService, directionsDisplay, dest, pointA, pointB);
    console.log(x)
  }

  var requests = []

  function calculateAndDisplayRoute(directionsService, directionsDisplay, dest, first, second) {
    var request = {
      origin: "Austin,TX",
      destination: dest,
      // waypoints: addWaypoints(first, second),
      // optimizeWaypoints: true,
      travelMode: google.maps.DirectionsTravelMode.DRIVING
    };
    var y;
    directionsService.route(request, (response, status) =>{
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var summaryPanel = document.getElementById("directions_panel");
        summaryPanel.innerHTML = "";
        // // For each route, display summary information.
        for (var i = 0; i < route.legs.length; i++) {
            var routeSegment = i + 1;
            summaryPanel.innerHTML += "<b>Route Segment: " + routeSegment + "</b><br />";
            summaryPanel.innerHTML += route.legs[i].start_address + " to ";
            summaryPanel.innerHTML += route.legs[i].end_address + "<br />";
            summaryPanel.innerHTML += route.legs[i].distance.text + "<br /><br />";
            y=route.legs[i].distance.value;
        }
      } else {
        alert("directions response " + status);
      }
    });
    
  }

  function addWaypoints(first, second) {
    return [{
      location: new google.maps.LatLng(42, -120),
      stopover: true
    }];
  }
  // initMap();
</script>
{% endblock %}